nav { text-align: center;
	    font-size: 1.5em;
}

a { text-decoration: none; }

nav ul { display: flex;
         flex-direction: column;
	       font-size: 1.25em;
	       list-style-type: none;
	       margin: 0;
         padding: 0;
}

nav li { border-bottom: 1px solid black;
         padding: .5em 1em;
         width: 100%;
}

footer { background-color: rgb(187, 187, 187);
         font-size: .60em;
		 font-style: italic;
		 text-align: center;
		 padding-bottom: 1em;
		 border-top: 2px solid rgb(50, 50, 50);
}

.hobby img {
	width: 250px;
	height: 250px;
}

.item img {
	width: 426px;
	height: 240px;
}

@media (min-width: 600px) {
	nav ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: nowrap;
    }

    nav a {
      width: 25%;
      text-align: center;
    }
}