header {
	background-color: #383A68;
	max-height: 190px;
}

header a {
	color: #F3F3F6;
}

header a:hover {
	color: #f2c45c;
	font-style: italic;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	/* background-color: #FFFFFF; */
	/* background-color: #E6E0D6; */
	background-color: #F3F3F6;
  margin: 0;
  font-size: 1.2em;
  color: #000000;
}

h1 {
	margin: 0;
	padding-left: 35px;
	padding-top: 15px;
	padding-bottom: 15px;
}

h2 {
	color: #383A68;
}

h3 {
	color: #4c4c4c;
}


main {
  display: block;
  margin: 0;
  padding-left: 65px;
  padding-right: 65px;
	padding-top: 30px;
	padding-bottom: 30px;
}

nav { 
	background-color: #4B4F7D;
	text-align: center;
	font-size: 1em;
	border-top: 3px solid #2a2a2a;
	border-bottom: 3px solid #2a2a2a;
}

nav a {
	color: #F3F3F6;
}

nav a:hover {
	color:#f2c45c;
	font-style: italic;
}

nav ul { 
	display: flex;
  flex-direction: column;
	font-size: 1.25em;
	list-style-type: none;
	margin: 0;
  padding: 0;
}

nav li { 
	/* border-bottom: 1px solid black; */
  padding: .5em 1em;
  width: 100%;
}

a { text-decoration: none; }

figure {
	width:345px;
	background-color: #4B4F7D;
	align-content: center;
	text-align: center;
	padding: 25px;
	border: 3px solid black;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

figure img {
	width: 325px;
	height: 500px;
	border: 3px solid black;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}

figcaption {
	padding-top: 10px;
	color: #E6E0D6;
	font-weight: bold;
}

table { 
	/* margin-top: 10px;
	margin-bottom: 10px;
	/* margin-left: 65px;
	margin-right: 65px; */
	margin: auto;
  /* border: 2px solid #2a2a2a; */
  width: 75%;
  padding: 5px;
  border-spacing: 0; 
}

th {
	color: #F3F3F6;
}

td {
	color: #2a2a2a;
}

td, th { 
	padding: 0.5em;
  border-style: none;
}

tr:first-of-type { background-color: #4B4F7D; }

tr:nth-of-type(even) { background-color: #EAEAEA; }

footer { 
	background-color: rgb(216, 216, 216);
  font-size: .75em;
	font-style: italic;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	border-top: 2px solid rgb(50, 50, 50);
  width: 100%;
}

#everyone {
	font-weight: bold;
}

#flow {
	display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#gallery {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

#academic {
	text-align: center;
}

.hobby {
	background-color: #4B4F7D;
	color: #E6E0D6;
	text-align: center;
	border: 3px solid black;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
  padding: 15px;
  margin: 15px;
  box-shadow: 0px 3px 15px rgba(0,0,0,1);
  width: 280px;
  /* height: 500px; */
}

.hobby img {
	width: 250px;
	height: 250px;
	border: 3px solid #000000;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}

.hobby h3 {
	color: #E6E0D6;
}

.hobby p {
	font-size: .80em;
}

button {
	color: #2a2a2a;
	font-weight: bold;
	border: 1px solid black;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

button:hover {
	background-color: #2a2a2a;
	color: #F3F3F6;
	font-style: italic;
}

.item {
	background-color: #4B4F7D;
	color: #E6E0D6;
	text-align: center;
	border: 3px solid black;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	padding: 15px;
  margin: 15px;
  box-shadow: 0px 3px 15px rgba(0,0,0,1);
	width: 500px;
}

.item img {
	width: 426px;
	height: 240px;
	border: 3px solid #000000;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}

.item h3 {
	color: #E6E0D6;
}
@media (min-width: 600px) {
	nav ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: nowrap;
    }

    nav a {
      width: 25%;
      text-align: center;
    }
}